<%= stylesheet_link_tag 'game' %>
<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'timer.js' %>

	<audio id="bomb">
	  <source src="bomb.wav" type="audio/wav">
	</audio>

	<table><tr>
		<span class="button" onclick="create(9,9,16, 'easy')"> Easy</span>
		<span class="button" onclick="create(16, 16, 50, 'medium')"> Medium</span>
		<span class="button" onclick="create(16, 30, 99, 'hard')"> Hard</span>
		<span class="button" onclick="custom()"> Custom</span>
		<span class="button" onclick="hint()"> Hint</span>
		<span class="button" onclick="skins()"> Skins</span>

	<div id="overlay" class="overlay">
		<div id="win" class="panel">
			<h1>You win, good job!</h1>
			<span class="button" onclick="create(16,16,99, 'medium')">Play Again</span>
			<span class="button"><a href="/">Home</a></span>
		</div>

		<div id="lose" class="panel">
			<h1>Sorry, you lost!</h1>
			<span class="button" onclick="create(16,16,99, 'medium')">Play Again</span>
			<span class="button"><a href="/">Home</a></span>
		</div>

		<div id="custom" class="panel">
			<h1>Choose board size</h1>
			<form id="form" action="javascript:void(0);">
				<label>Height</label>
				<input id="height" type="number" min="8" max="24" required>
				<label>Width</label>
				<input id="width" type="number" min="8" max="30" required>
				<input class="submit" type="submit" value="Submit" onclick="createCustom()">
			</form>
		</div>

		<div id="skins" class="panel">
			<h1>Choose your skin</h1>
			<ul class="example-orbit" data-orbit>
			  <li class="active" onclick="setskin('mardi')">
			   <span id="skin"><%= image_tag("mardi_gras_jade") %></span>
			  </li>
			  <li onclick="setskin('mandang')">
			    <span id="skin"><%= image_tag("mandang_robins_egg") %></span>
			  </li>
			  <li onclick="setskin('malibu')">
			    <span id="skin"><%= image_tag("malibu_dark_violet") %></span>
			  </li>
			</ul>
		</div>

		<td id="bigtable"><span id="board">&nbsp;</span></td>
	</div>
	</tr></table>


	<div>Timer: <span id='time'>0</span></div>