<%= javascript_include_tag 'jquery' %>
<%= stylesheet_link_tag 'game' %>
<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'timer.js' %>
<%= javascript_include_tag 'foundation.orbit.js' %>

	<audio id="bomb">
	  <source src="bomb.wav" type="audio/wav">
	</audio>

	<table><tr>
		<span class="button" onclick="create(9,9,16, 'easy')"> Easy</span>
		<span class="button" onclick="create(16, 16, 50, 'medium')"> Medium</span>
		<span class="button" onclick="create(16, 30, 99, 'hard')"> Hard</span>
		<span class="button" onclick="custom()"> Custom</span>
		<span class="button" onclick="hint()"> Hint</span>
		<span class="button" onclick="skins()"> Skins</span>

	<div id="overlay" class="overlay">
		<div id="win" class="panel">
			<h1>You win, good job!</h1>
			<span class="button" onclick="create(16,16,99, 'medium')">Play Again</span>
			<span class="button"><a href="/">Home</a></span>
		</div>

		<div id="lose" class="panel">
			<h1>Sorry, you lost!</h1>
			<span class="button" onclick="create(16,16,99, 'medium')">Play Again</span>
			<span class="button"><a href="/">Home</a></span>
		</div>

		<div id="custom" class="panel">
			<h1>Choose board size</h1>
			<form id="form" action="javascript:void(0);">
				<label>Height</label>
				<input id="height" type="number" min="8" max="24" required>
				<label>Width</label>
				<input id="width" type="number" min="8" max="30" required>
				<input class="submit" type="submit" value="Submit" onclick="createCustom()">
			</form>
		</div>

		<div id="skins" class="panel">
			<h1>Choose your skin</h1>
			<ul class="example-orbit" data-orbit>
			  <li>
			    <img src="../assets/img/examples/satelite-orbit.jpg" alt="slide 1" />
			    <div class="orbit-caption">
			      Caption One.
			    </div>
			  </li>
			  <li class="active">
			    <img src="../assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
			    <div class="orbit-caption">
			      Caption Two.
			    </div>
			  </li>
			  <li>
			    <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
			    <div class="orbit-caption">
			      Caption Three.
			    </div>
			  </li>
			</ul>
		</div>

		<td id="bigtable"><span id="board">&nbsp;</span></td>
	</div>
	</tr></table>


	<div>Timer: <span id='time'>0</span></div>